@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    background-color: #F7FFF7;
    font-family: 'Roboto Flex', sans-serif;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #343434;
}

section {
    height: fit-content;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

.centered{
    text-align: center;
}

/* HEADER */
/* headings */
header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 10.5rem;
    border-bottom: 1px solid #000;
    background-color: #2F3061;
}

#heading {
    float: left;
    margin: 10px 0 10px 30px;
    font-size: 400%;
    letter-spacing: 5px;
    color: #948B89;
}

#heading-subtext{
    float: right;
    margin: 40px 30px;
    width: 30%;
    line-height: 40px;
    font-style: italic;
    text-align: right;
    text-transform: none;
    color: #F7FFF7;
}

/* navigation bar */

nav {
    clear: left;
    font-size: 150%;
    letter-spacing: 2px;
    margin-top: 0;
}

#nav-bar, #heading{
    line-height: 80px;
}

nav ul {
    float: left;
}

nav li {
    float: left;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.active {
    color: #F7FFF7;
}

nav a:hover {
    color: #F7FFF7;
}

/* hamburger navigation bar */

#ham-nav {
    display: none;
}

#hamburger {
    display: none;
}

#ham-items { 
    display: none; 
}

#ham-items a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
}

#ham-nav label { 
    display: inline-block; 
    height: 5rem;
    padding: 12px;
    line-height: 80px;
    font-style: normal;
    font-size: 1.2em;
    color: #343434;
    background: #B0B2B8;
}

#ham-nav input:checked ~ #ham-items { 
    display: block; 
    background-color: #948B89;
}

/* CLASSES USED OVER PROJECT */
/* hero images */
.main-image{
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5%;
    width: 100%;
}

.zoom{
    animation-name: zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.main-image-div{
    position: relative;
    height: inherit;
    width: 100%;
}

.important-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border: 5px solid #FFFF00;
    padding: 10px;
    background-color: rgba(66, 66, 66, 0.7)
}

.important-text h2{
    font-size: 350%;
    letter-spacing: 3px;
    color: #ffffff;
}

/* text boxes */
.text-box{
    clear: both;
    position: relative;
    display: inline-block;
    margin: 1.5% 3%;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 2% 3% 0.5% 3%;
}

.text-box h2 {
    font-size: 300%;
}

.text-box hr {
    margin: 5px 0;
    border-top: 1px solid #3a3a3a;
    width: 100%; 
}

.text-box p {
    margin: 15px;
    font-size: 130%;
    letter-spacing: 1px;
}

.text-box a {
    color: #B0B2B8;
}

.text-box a:hover {
    color: #343434;
}

/* colored text boxes */
/* green */
.green {
    background-color: #ADBCA5;
}

/* yellow */
.yellow {
    background-color: #FCFC62;
}

.yellow a {
    color: #343434;
}

.yellow a:hover{
    color: #DE2E2B;
}

/* red */
.red {
    background-color: #DE2E2B;
    color: #F7FFF7;
}

.red h2 {
    color: rgb(204, 204, 45);
}

.red hr {
    border-top: 1px solid rgb(204, 204, 45);
}

/* black */
.black {
    background-color: #3A3335;
    border: 2px solid #E8871E;
}

.black h2{
    color: #FFFFFF;
}

.black hr{
    border: 1px solid #FFFFFF;
}

.black p{
    color: #F7FFF7;
}

/* orange */
.orange {
    background-color: #E8871E;
}

.orange a {
    color: #F7FFF7;
}

/* image and caption boxes */
.image-and-caption {
    margin: 1.5% 3%;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 1%;
    background-color: #B0B2B8;
}

.image-and-caption p{
    margin: 20px 5px 5px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-style: italic;
    font-size: 110%;
    letter-spacing: 1px;
    padding: 2.5%;
    background-color: white;
}

/* Image containers */
.images-circle {
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 50%;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
}

.circle-image-box{
    overflow: hidden;
}

.image-in-box-circle{
    position: relative;
    width: 150%;
}

.rounded-image{
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #000000;
}

/* div for aligning images horizontally */
.two-image-row {
    clear: both;
    overflow: hidden;
    height: 0;
    padding-bottom: 50%;
    column-count: 2;
    column-gap: 0;
}

/* divs for aligning images vertically*/
.column-image-box {
    overflow: hidden;
    padding: 1%;
}

/* classes for adding responsiveness */
.margin-left {
    margin-left: 16.5%;
}

.margin-right {
    margin-right: 16.5%;
}

.margin-both {
    margin: 1.5% 16.5%;
    width: 60.75%
}

/* HERO IMAGE SECTION OF EACH PAGE */
/* Main image section for home */
#home-main-image {
    height: 1000px;
}

#home-image-div {
    background: url(../images/graphene1920x1080.jpg) repeat center center;
}

/* Main image section for materials */
#materials-main-image {
    height: 641px;
}

#materials-image-div {
    top: 10.5rem;
    height: 473px;
    background: url(../images/buckies630x473.jpg) repeat center center;
}

/* main image section for applications */
#applications-main-image {
    height: 918px;
}

#applications-image-div {
    top: 10.5rem;
    height: 750px;
    background: url(../images/cnt1000x750.jpg) no-repeat center center;
    background-color: #000;
}

/* main image section for contact */
#contact-main-image {
    height: 1248px;
    margin-bottom: 0;
}

#contact-image-div {
    top: 10.5rem;
    height: 1080px;
    background: url(../images/nanopart.jpg) repeat center center;
}

.contact-important-text {
    position: relative;
    top: 25%;
    width: 40%;
    margin: 0 29%;
    border: 5px solid #FFFF00;
    border-radius: 10px;
    padding: 1%;
    background-color: rgba(66, 66, 66, 0.7)
}

.smaller-contact-box {
    width: 22%;
    padding-top: 0;
    font-size: 90%;
    margin: 5% 0 5% 23%;
}

.contact-important-text h2{
    font-size: 400%;
    letter-spacing: 3px;
    color: #ffffff;
}

.contact-important-text p{
    font-size: 170%;
    color: #ffffff;
    margin: 10px;
}

.contact-important-text ul {
    font-size: 180%;
    color: #ffffff;
}

.contact-important-text h3{
    margin: 10px 5px;
    color: #FFFF00;
}

.contact-important-text li {
    margin: 5px;
}

.contact-important-text a {
    color: #F7FFF7;
}

.contact-important-text a:hover {
    color: tan;
}

#contact-div {
    position: absolute;
    width: 100%;
    top: 5%;
}

#contact-text{
    width: 50%;
    margin: 0 23%;
}

#contact{
    float: left;
    margin-left: 23%;
}

#form {
    float: right;
    width: 22%;
    font-size: 90%;
    padding-top: 0;
    margin: 11% 24% 5% 0;
}

#form h3 {
    font-size: 200%;
}

#form input{
    height: 30px;
    border-radius: 2px;
    margin: 10px 5px;
    padding: 0 10px;
    font-size: 120%;
    letter-spacing: 1px;
}

#mail {
    width: 60%;
}

#submit{
    background-color: #B0B2B8;
    border: 1px solid #F7FFF7;
}

#submit:hover{
    color: #F7FFF7;
}

/* MAIN SECTION OF HOMEPAGE */
/* anchor for about section */
#about-anchor{
    position: absolute;
    top: 832px;
}

/* individual text and image box stylings */
#why-nano-text {
    width: 29%;
}

#why-nano-image-div {
    float: right;
    padding: 3% 3%;
    width: 19%;
}

#how-small-is-nano-text{
    float: right;
    margin-bottom: 3%;
    width: 28%;
}

#how-small-image-div {
    float: left;
    margin-bottom: 3%;
    padding: 0;
    width: 26%;
}

.image-in-box-column {
    position: relative;
    border: 1px solid #000;
    width: 44%;
}

.images-column {
    padding: 3% 0;
}

.column-image-box h3{
    position: relative;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.column-image-box p {
    margin: 5px 8% 10px 8%;
}

/* images within circle */
#body-armor{
    right: 10%;
}

#solar {
    right: 30%;
}

#nostain {
    right: 10%;
}

#hydrogen {
    right: 45%;
}

/* MAIN SECTION OF MATERIALS PAGE */
.material-circle{
    width: 70%;
    padding-bottom: 70%;
    margin: 0 15%;
}

/* individual text and image box stylings */

/* 0-D text */
#zeroD-text {
    width: 35%;
}

/* 0-D images */
#zeroD-images{
    float: right;
    width: 16.35%;
    padding: 0.5% 1.5%;
}

/* 1-D text */
#oneD-text {
    float: right;
    width: 35%;
}

/* 1-D images */
#oneD-images{
    float: left;
    width: 16.35%;
}

/* 2-D text */
#twoD-text {
    float: left;
    width: 30%;
    margin-bottom: 3%;
}

/* 2-D images */
#twoD-images {
    float: right;
    width: 22%;
    margin-bottom: 3%;
}

/* MAIN SECTION OF APPLICATIONS PAGE */
/* intro */
#robot-div{
    margin: 2% 30% 2% 30%;
    width: 40%;
}

/* batteries */
#batteries-text {
    width: 30%;
}

#batteries-images {
    float: right;
    width: 22%;
}

.applications-box{
    padding: 4%;
}

.bat-image {
    width: 92.5%;
}

/* wearables */
#flex-text {
    float: right;
    width: 25%;
}

#wearable-images {
    float: left;
    width: 27%;
}

.flex-img {
    width: 60%;
}

#wearable-images .applications-box {
    padding: 2%;
}

/* tatoos */
#tat-text {
    float: left;
    width: 23%;
    margin-bottom: 3%;
}

#tat-images {
    float: right;
    width: 29%;
    margin-bottom: 3%;
}

.tat-img {
    width: 90%;
}

#tat-images a:hover {
    color: #E8871E;
}

/* footer */
footer {
    clear: both;
    height: 10rem;
    background-color: #2F3061;
}

footer ul {
    line-height: 10rem;
}

footer li {
    display: inline;
    margin: 0 60px;
}

footer a {
    text-decoration: none;
    color: #F7FFF7;
}

/* MAIN IMAGE ZOOMS */
@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1700px) {
    .margin-right{
        margin-right: 15%;
    }

    .margin-left{
        margin-left: 15%;
    }

    .margin-both{
        margin: 1.5% 15%;
        width: 63.75%;
    }

    .text-box {
        padding: 1% 3%;
    }

    #why-nano-text {
        width: 32%;
    }

    #how-small-is-nano-text{
        width: 31%;
    }

    #zeroD-text, #oneD-text{
        width: 38%;
    }

    #twoD-text, #batteries-text {
        width: 33%;
    }

    #flex-text {
        width: 28%;
    }

    #tat-text {
        width: 26%;
    }
    
}

@media screen and (max-width: 1550px) {
    #mail {
        width: 70%;
    }
}


@media screen and (max-width: 1500px) {
    .margin-right{
        margin-left: 1.5%;
    }

    .margin-left{
        margin-right: 1.5%;
    }

    #why-nano-image-div{
        width: 22%;
    }

    #how-small-image-div{
        width: 29%;
    }

    #zeroD-images {
        width: 19%;
    }

    #oneD-images{
        width: 20%;
    }

    #twoD-images {
        width: 25%;
    }

    #batteries-images{
        width: 25%;
    }

    #wearable-images{
        width: 30%;
    }

    #tat-images{
        width: 32%;
    }
}

@media screen and (max-width: 1400px) {
    main {
        font-size: 90%;
    }
    
    .margin-right{
        margin-right: 12.5%;
    }

    .margin-left{
        margin-left: 12.5%;
    }

    .margin-both{
        margin: 1.5% 12.5%;
        width: 68.75%;
    }

    #why-nano-image-div{
        width: 27%;
    }

    #how-small-image-div{
        width: 34%;
    }

    #zeroD-images{
        width: 24%;
    }

    #oneD-images{
        width: 25%;
    }

    #twoD-images {
        width: 30%;
    }

    #batteries-images{
        width: 30%;
    }

    #wearable-images{
        width: 35%;
    }

    #tat-images{
        width: 37%;
    }
}

@media screen and (max-width: 1300px) {
    #twoD-text {
        width: 36%;
    }

    #twoD-images {
        width: 27%;
    }

    #batteries-text {
        width: 37%;
    }

    #batteries-images {
        width: 26%;
    }

    #tat-text {
        width: 33%;
    }

    #tat-images {
        width: 30%;
    } 
}

@media screen and (max-width: 1200px) {
    .margin-right{
        margin-right: 10%;
    }

    .margin-left{
        margin-left: 10%;
    }

    .margin-both{
        margin: 1.5% 10%;
        width: 73.75%;
    }

    #why-nano-image-div{
        width: 32%;
    }

    #how-small-image-div{
        width: 39%;
    }

    #zeroD-images{
        width: 29%;
    }
    
    #oneD-images{
        width: 30%;
    }

    #twoD-images {
        width: 32%;
    }

    #batteries-images{
        width: 31%;
    }

    #wearable-images{
        width: 40%;
    }

    #tat-images{
        width: 35%;
    }
    
    #contact {
        width: 50%;
        margin: 5% 23%;
    }

    #form {
        width: 50%;
        margin: 5% 24%;
    }

    #heading-subtext{
        margin: 10px 30px;
    }
}

@media screen and (max-width: 1100px) {
    .material-circle {
        margin: 5% 15%;
    }

    .margin-right{
        margin-right: 7.5%;
    }

    .margin-left{
        margin-left: 7.5%;
    }

    .margin-both{
        margin: 1.5% 7.5%;
        width: 78.75%;
    }

    #why-nano-image-div{
        width: 37%;
    }

    #how-small-image-div{
        width: 44%;
    }

    #zeroD-images, #oneD-images{
        width: 34%;
    }

    #twoD-images {
        width: 37%;
    }

    #batteries-images{
        width: 36%;
    }

    #wearable-images{
        width: 45%;
    }

    #tat-images{
        width: 40%;
    }
}

@media screen and (max-width: 1050px) {
    .image-in-box-column {
        width: 54%;
    }

    #why-nano-text {
        width: 36%;
    }

    #why-nano-image-div {
        width: 33%;
    }

    #zeroD-text {
        width: 41%;
    }

    #zeroD-images {
        width: 31%;
    }

    #twoD-text {
        width: 39%;
    }

    #twoD-images {
        width: 34%;
        padding: 3% 1%;
    }

    #batteries-text {
        width: 43%;
    }

    #batteries-images {
        width: 30%;
    }

    #flex-text{
        width: 34%;
    }

    #wearable-images{
        width: 39%
    }

    #tat-text {
        width: 38%;
    }

    #tat-images {
        width: 35%;
    } 
}

@media screen and (max-width: 1000px) {
    .margin-right{
        margin-right: 5%;
    }

    .margin-left{
        margin-left: 5%;
    }

    .margin-both{
        margin: 1.5% 5%;
        width: 83.75%;
    }

    #why-nano-image-div {
        width: 38%;
    }

    #how-small-image-div{
        width: 49%;
    }

    #zeroD-images {
        width: 36%;
    }
    
    #oneD-images{
        width: 40%;
    }

    #twoD-images {
        width: 39%;
    }

    #batteries-images {
        width: 35%;
    }

    #wearable-images{
        width: 44%
    }

    #tat-images {
        width: 40%;
    } 
}

@media screen and (max-width: 950px){
    #how-small-is-nano-text {
        width: 42.5%;
    }

    #how-small-image-div {
        width: 37.5%;
    }
}

@media screen and (max-width: 890px){
    #heading-subtext{
        width: 40%;
    }
    
}

@media screen and (max-width: 795px) {
    #heading-subtext {
        display: none;
    }
    
    #important-text{
        width: 80%;
    }

    .text-box h2 {
        text-align: center;
    }

    #why-nano-text, #how-small-is-nano-text, #zeroD-text, #oneD-text, #twoD-text, #batteries-text, #flex-text, #tat-text{
        width: 83.75%;
    }

    #why-nano-image-div, #twoD-images, #batteries-images{
        width: 83.5%;
    }

    #how-small-image-div {
        width: 90%;
    }

    #how-small-image-div h3 {
        font-size: 200%;
        margin-bottom: 10px;
    }

    .images-circle {
        width: 60%;
        padding-bottom: 60%;
        margin: 0 20%;
    }

    #zeroD-images {
        width: 86%;
    }

    #oneD-images, #twoD-images, #batteries-images, #wearable-images, #tat-images {
        width: 87%;
    }

    .material-circle {
        width: 50%;
        padding-bottom: 50%;
        margin: 20px 25%;
    }

    .applications-box {
        width: 80%;
        margin: 0 9%;
        padding: 1%;
    }

    .image-and-caption p {
        margin-top: 5px;
    }


    .wearables {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 690px) {
    header {
        height: 6.5rem;
    } 

    #heading {
        float: right;
        width: 100%;
        text-align: center;
        font-size: 300%;
    }

    #nav-bar {
        display: none;
    }

    #ham-nav {
        position: absolute;
        display: inline-block;
    }

    #materials-image-div {
        top: 6.5rem;
    }

    #applications-image-div {
        top: 6.5rem;
    }

    #contact-image-div {
        top: 6.5rem;
    }

    #contact-main-image {
        height: 1184px;
    }

    #materials-main-image {
        height: 577px;
    }

    #applications-main-image {
        height: 854px;
    }

    #robot-div {
        margin: 2% 17.5% 2% 17.5%;
        width: 60%;
    }
}

@media screen and (max-width: 600px){
    footer li{
        margin: 0 30px;
    }

    #contact-text h2 {
        font-size: 300%;
    }

    #contact-div {
        font-size: 80%;
    }

    #thank-text {
        font-size: 80%;
    }
}

@media screen and (max-width: 500px) {
    #contact-text {
        width: 70%;
        margin: 5% 13%;
    }

    #contact {
        width: 70%;
        margin: 5% 13%;
    }

    #thank-text {
        width: 70%;
        margin: 0 13%;
    }

    #form {
        width: 70%;
        margin: 5% 13%;
    }
}

/* @media screen and (max-width: 300px) {
    #contact
} */

@media screen and (max-width: 450px){
    #heading{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #ham-nav{
        position: absolute;
        top: 4.5rem;
        left: 0;
        width: 100%;
    }

    #ham-nav label{
        width: 100%;
        height: 2rem;
        padding: 5px;
        line-height: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 390px) {
    footer li{
        margin: 0 20px;
    }

    body {
        font-size: 90%;
    }

    .images-circle{
        width: 80%;
        padding-bottom: 80%;
        margin: 0 10%;
    }

    .important-text h2{
        font-size: 200%;
    }
}

@media screen and (max-width: 300px){
    #heading{
        font-size: 200%;
    }

    footer li{
        margin: 0 10px;
    }

    #form input {
        font-size: 100%;
    }

    .text-box h2 {
        font-size: 200%;
    }

    #thank-text h2{
        font-size: 200%;
    }
}

@media screen and (max-width:240px) {
    #contact-text h2, #thank-text h2 {
        font-size: 200%;
    }
    
    #contact li {
        font-size: 80%;
    }
}

@media screen and (max-width: 210px){
    footer{
        font-size: 75%;
    }

    footer li{
        margin: 0 5px;
    }

    #heading {
        font-size: 150%;
    }

    .important-text h2{
        font-size: 150%;
    }
}

@media screen and (max-width: 120px) {
    body{
        font-size: 50%;
    }
    footer {
        font-size: 50%;
    }
}