@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

/* headings */

header {
    background-color: #4C6085;
    height: 160px;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #32322C;
}

#heading {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#heading-subtext{
    float: right;
    font-style: italic;
    text-transform: none;
    margin-right: 30px;
    color: beige;
}

hr {
    color: #32322C;
}

/* navigation */

nav {
    font-size: 150%;
    letter-spacing: 2px;
    clear: both;
}

nav, #heading, #heading-subtext{
    line-height: 80px;
}

nav ul {
    float: left;
}

nav li {
    list-style-type: none;
    float: left;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.active {
    color: white;
}

nav a:hover {
    color: white;
}