@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    background-color: #F7FFF7;
    font-family: 'Roboto Flex', sans-serif;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #343434;
}

section {
    height: fit-content;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

.centered{
    text-align: center;
}

/* HEADER */
/* headings */
header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 10.5rem;
    border-bottom: 1px solid #000;
    background-color: #2F3061;
}

#heading {
    float: left;
    margin: 10px 0 10px 30px;
    font-size: 400%;
    letter-spacing: 5px;
    color: #948B89;
}

#heading-subtext{
    float: right;
    margin: 40px 30px;
    width: 30%;
    line-height: 40px;
    font-style: italic;
    text-align: right;
    text-transform: none;
    color: #F7FFF7;
}

/* navigation bar */

nav {
    clear: left;
    font-size: 150%;
    letter-spacing: 2px;
    margin-top: 0;
}

#nav-bar, #heading{
    line-height: 80px;
}

nav ul {
    float: left;
}

nav li {
    float: left;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.active {
    color: #F7FFF7;
}

nav a:hover {
    color: #F7FFF7;
}

/* hamburger navigation bar */

#ham-nav {
    display: none;
}

#hamburger {
    display: none;
}

#ham-items { 
    display: none; 
}

#ham-items a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
}

#ham-nav label { 
    display: inline-block; 
    height: 5rem;
    padding: 12px;
    line-height: 80px;
    font-style: normal;
    font-size: 1.2em;
    color: #343434;
    background: #B0B2B8;
}

#ham-nav input:checked ~ #ham-items { 
    display: block; 
    background-color: #948B89;
}

/* CLASSES USED OVER PROJECT */
/* hero images */
.main-image{
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5%;
    width: 100%;
}

.main-image-div{
    position: relative;
    height: inherit;
    width: 100%;
}

.important-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border: 5px solid #FFFF00;
    padding: 10px;
    background-color: rgba(66, 66, 66, 0.7)
}

.important-text h2{
    font-size: 400%;
    letter-spacing: 3px;
    color: #ffffff;
}

.important-text p{
    font-size: 200%;
    color: #ffffff;
    margin: 10px;
}

.important-text ul {
    font-size: 200%;
    color: #ffffff;
}

.important-text h3{
    margin: 10px 5px;
}

.important-text li {
    margin: 5px;
}

.important-text a {
    color: #F7FFF7;
}

.important-text a:hover {
    color: tan;
}

/* text boxes */
.text-box{
    clear: both;
    position: relative;
    display: inline-block;
    margin: 1.5% 3%;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 2% 3%;
}

.text-box h2 {
    font-size: 300%;
}

.text-box hr {
    margin: 5px 0;
    border-top: 1px solid #3a3a3a;
    width: 100%; 
}

.text-box p {
    margin: 15px;
    font-size: 130%;
    letter-spacing: 1px;
}

.text-box a {
    color: #B0B2B8;
}

.text-box a:hover {
    color: #343434;
}

/* colored text boxes */
/* green */
.green {
    background-color: #ADBCA5;
}

/* yellow */
.yellow {
    background-color: #FCFC62;
}

.yellow a {
    color: #343434;
}

.yellow a:hover{
    color: #DE2E2B;
}

/* red */
.red {
    background-color: #DE2E2B;
    color: #F7FFF7;
}

.red h2 {
    color: rgb(204, 204, 45);
}

.red hr {
    border-top: 1px solid rgb(204, 204, 45);
}

/* black */
.black {
    background-color: #3A3335;
    border: 2px solid #E8871E;
}

.black h2{
    color: #FFFFFF;
}

.black hr{
    border: 1px solid #FFFFFF;
}

.black p{
    color: #F7FFF7;
}

/* orange */
.orange {
    background-color: #E8871E;
}

.orange a {
    color: #F7FFF7;
}

/* image and caption boxes */
.image-and-caption {
    margin: 1.5% 3%;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 1%;
    background-color: #B0B2B8;
}

.image-and-caption p{
    margin: 20px 5px 5px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-style: italic;
    letter-spacing: 1px;
    padding: 1%;
    background-color: white;
}

/* Image containers */
.images-circle {
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 50%;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
}

.circle-image-box{
    overflow: hidden;
}

.image-in-box-circle{
    position: relative;
    width: 150%;
}

.rounded-image{
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #000000;
}

/* div for aligning images horizontally */
.two-image-row {
    clear: both;
    overflow: hidden;
    height: 0;
    padding-bottom: 50%;
    column-count: 2;
    column-gap: 0;
}

/* divs for aligning images vertically*/
.column-image-box {
    overflow: hidden;
    padding: 1%;
}

/* classes for adding responsiveness */
.margin-left {
    margin-left: 16.5%;
}

.margin-right {
    margin-right: 16.5%;
}

.margin-both {
    margin: 1.5% 16.5%;
}

/* HERO IMAGE SECTION OF EACH PAGE */
/* Main image section for home */
#home-main-image {
    height: 1000px;
}

#home-image-div {
    background: url(../images/graphene1920x1080.jpg) repeat center center;
}

/* Main image section for materials */
#materials-main-image {
    height: 641px;
}

#materials-image-div {
    top: 10.5rem;
    height: 473px;
    background: url(../images/buckies630x473.jpg) repeat center center;
}

/* main image section for applications */
#applications-main-image {
    height: 918px;
}

#applications-image-div {
    top: 10.5rem;
    height: 750px;
    background: url(../images/cnt1000x750.jpg) no-repeat center center;
    background-color: #000;
}

/* main image section for contact */
#contact-main-image {
    height: 1248px;
    margin-bottom: 0;
}

#contact-image-div {
    top: 10.5rem;
    height: 1080px;
    background: url(../images/nanopart.jpg) repeat center center;
}

#contact-text{
    top: 20%;
}

#contact{
    top: 60%;
}

/* MAIN SECTION OF HOMEPAGE */
/* anchor for about section */
#about-anchor{
    position: absolute;
    top: 832px;
}

/* individual text and image box stylings */
#why-nano-text {
    width: 29%;
}

#why-nano-image-div {
    float: right;
    padding: 3% 3%;
    width: 19%;
}

#how-small-is-nano-text{
    float: right;
    margin-bottom: 3%;
    width: 28%;
}

#how-small-image-div {
    float: left;
    margin-bottom: 3%;
    padding: 0;
    width: 26%;
}

.image-in-box-column {
    position: relative;
    border: 1px solid #000;
    width: 44%;
}

.column-image-box h3{
    position: relative;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.column-image-box p {
    margin: 0 8%;
}

/* images within circle */
#body-armor{
    right: 10%;
}

#solar {
    right: 30%;
}

#nostain {
    right: 10%;
}

#hydrogen {
    right: 45%;
}

/* MAIN SECTION OF MATERIALS PAGE */
/* individual text and image box stylings */
/* intro text */
#materials-intro-text {
    width: 61%;
}

/* 0-D text */
#zeroD-text {
    width: 35%;
    padding: 2% 3%;
}

/* 0-D images */
#zeroD-images{
    float: right;
    width: 16.35%;
    padding: 0.5% 1.5%;
}

.zeroD-material-circle{
    width: 60%;
    padding-bottom: 60%;
    margin: 0 20%;
} 

#metal-np{
    position: relative;
    right: 20%;
    width: 180%;
}

#liposome {
    position: relative;
    right: 4%;
    width: 110%;
}

/* 1-D text */
#oneD-text {
    float: right;
    width: 35%;
}

/* 1-D images */
#oneD-images{
    float: left;
    width: 16.35%;
    padding: 1.5%;
}

.oneD-material-circle{
    width: 80%;
    padding-bottom: 80%;
    margin: 0 10%;
}

#nanowire {
    width: 135%;
}

#dna {
    position: relative;
    right: 20%;
    width: 180%;
}

/* 2-D text */
#twoD-text {
    float: left;
    width: 30%;
    margin-bottom: 3%;
}

/* 2-D images */
#twoD-images {
    float: right;
    width: 22%;
    margin-bottom: 3%;
}

.twoD-material-circle {
    width: 70%;
    padding-bottom: 70%;
    margin: 0 15%;
}

#graphene {
    position: relative;
    right: 10%;
    width: 175%;
}

#football{
    position: relative;
}

#bn {
    position: relative;
    right: 35%;
    width: 180%;
}

#mos2 {
    width: 100%;
    background-color: #FFFFFF;
}

/* MAIN SECTION OF APPLICATIONS PAGE */
/* intro */
#applications-intro-text {
    width: 60.75%;
}

#robot-div{
    margin: 2% 35% 2% 35%;
    width: 30%;
}

/* batteries */
#batteries-text {
    width: 30%;
}

#batteries-images {
    float: right;
    width: 22%;
}

.applications-box{
    padding: 4%;
}

.bat-image {
    width: 92.5%;
}

/* wearables */
#flex-text {
    float: right;
    width: 25%;
}

#wearable-images {
    float: left;
    width: 27%;
}

.flex-img {
    width: 60%;
}

#wearable-images .applications-box {
    padding: 2%;
}

/* tatoos */
#tat-text {
    float: left;
    width: 23%;
    margin-bottom: 3%;
}

#tat-images {
    float: right;
    width: 29%;
    margin-bottom: 3%;
}

.tat-img {
    width: 90%;
}

#tat-images a:hover {
    color: #E8871E;
}

/* footer */
footer {
    clear: both;
    height: 10rem;
    background-color: #2F3061;
}

footer ul {
    line-height: 10rem;
}

footer li {
    display: inline;
    margin: 0 60px;
}

footer a {
    text-decoration: none;
    color: #F7FFF7;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1800px) {
    main{
        font-size: 90%;
    }
}

@media screen and (max-width: 1700px) {
    main{
        font-size: 80%;
    }
}

@media screen and (max-width: 1500px) {
    main{
        font-size: 70%;
    }

    #contact-image-div{
        font-size: 90%;
    }

    #contact-text{
        top: 20%;
    }

    #contact {
        top: 55%;
    }
}

@media screen and (max-width: 1400px) {
    .margin-right{
        margin-left: 1.5%;
    }

    .margin-left{
        margin-right: 1.5%;
    }

    #why-nano-text{
        width: 32%;
    }

    #how-small-is-nano-text{
        width: 31%;
    }

    #zeroD-text, #oneD-text{
        width: 38%;
    }

    #twoD-text, #batteries-text {
        width: 33%;
    }

    #flex-text {
        width: 28%;
    }

    #tat-text {
        width: 26%;
    }
}

@media screen and (max-width: 1300px) {
    .text-box p{
        margin: 15px 0;
    }
}

@media screen and (max-width: 1220px) {
    .margin-right{
        margin-right: 15%;
    }

    .margin-left{
        margin-left: 15%;
    }

    .margin-both{
        margin: 1.5% 15%;
    }

    #why-nano-image-div{
        width: 22%;
    }

    #how-small-image-div{
        width: 29%;
    }

    #zeroD-images, #oneD-images{
        width: 19%;
    }

    #twoD-images {
        width: 25%;
    }

    #batteries-images{
        width: 25%;
    }

    #wearable-images{
        width: 30%;
    }

    #tat-images{
        width: 32%;
    }
}

@media screen and (max-width: 1160px) {
    .margin-right{
        margin-right: 10%;
    }

    .margin-left{
        margin-left: 10%;
    }

    .margin-both{
        margin: 1.5% 10%;
    }

    main {
        font-size: 80%;
    }

    #why-nano-text {
        width: 35%;
    }

    #how-small-is-nano-text{
        width: 36%;
    }

    #materials-intro-text{
        width: 74%;
    }

    #zeroD-text, #oneD-text{
        width: 43%;
    }

    #twoD-text, #batteries-text {
        width: 38%;
    }

    #flex-text {
        width: 33%;
    }

    #tat-text {
        width: 31%;
    }
    
    #why-nano-image-div{
        width: 27%;
    }

    #how-small-image-div{
        width: 34%;
    }

    #zeroD-images, #oneD-images{
        width: 24%;
    }

    #twoD-images {
        width: 30%;
    }

    #batteries-images{
        width: 30%;
    }

    #wearable-images{
        width: 35%;
    }

    #tat-images{
        width: 37%;
    }
}

@media screen and (max-width: 1040px){
    #heading-subtext{
        margin: 10px 30px;
    }
}

@media screen and (max-width: 890px){
    #heading-subtext{
        width: 40%;
    }
}

@media screen and (max-width: 780px) {
    #heading-subtext {
        display: none;
    }
    
    #important-text{
        width: 80%;
    }

    .text-box h2 {
        text-align: center;
    }
}

@media screen and (max-width: 690px) {
    header {
        height: 6.5rem;
    } 

    #heading {
        float: right;
        width: 100%;
        text-align: center;
        font-size: 300%;
    }

    #nav-bar {
        display: none;
    }

    #ham-nav {
        position: absolute;
        display: inline-block;
    }
}

@media screen and (max-width: 600px){
    footer li{
        margin: 0 30px;
    }

}

@media screen and (max-width: 450px){
    #heading{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #ham-nav{
        position: absolute;
        top: 4.5rem;
        left: 0;
        width: 100%;
    }

    #ham-nav label{
        width: 100%;
        height: 2rem;
        padding: 5px;
        line-height: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 390px) {
    footer li{
        margin: 0 20px;
    }
}

@media screen and (max-width: 300px){
    #heading{
        font-size: 200%;
    }

    footer li{
        margin: 0 10px;
    }
}

@media screen and (max-width: 210px){
    footer{
        font-size: 75%;
    }

    footer li{
        margin: 0 5px;
    }
}

@media screen and (max-width: 120px) {
    body{
        font-size: 50%;
    }
    footer {
        font-size: 50%;
    }
}